.form {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.AddBookmark {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 522px;
    /* height: 270px; */
    background: #242424;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    align-items: center;
}

.formTitle {
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    margin: 32px;
    font-size: 20px;
    line-height: 26px;
}

.formInputImg {
    width: 422px;
    height: 188px;
    background: #242424;
    border: 1px solid #4B4B4B;
    box-sizing: border-box;
    box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin-bottom: 20px;
    display: none;
}

.formInputText {
    width: 422px;
    /* height: 188px; */
    background: #242424;
    border: 1px solid #4B4B4B;
    box-sizing: border-box;
    box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin-bottom: 20px;
}

.formInput {
    width: 422px;
    height: 50px;
    background: #242424;
    border: 1px solid #4B4B4B;
    box-sizing: border-box;
    box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin-bottom: 20px; 
}

.btnGroup{
    margin-top: 10px;
    margin-bottom: 50px;
}

.addBtn {
    padding: 10px;
    width: 192px;
    height: 40px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #5236C1 ;
    outline: none;
    margin: 0px 10px 0px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;

    margin-right: 121px;
}

.addBtn:hover{
background: #5236C1;
}

.cancelBtn {
    padding: 10px;
    width: 102px;
    height: 40px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #5236C1 ;
    outline: none;
    margin: 0px 10px 0px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.cancelBtn:hover{
background: #5236C1;
}

.formBtnClose {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background: transparent;
    outline: none;
    transition: 1s; 
}

.formBtnClose:hover{
    transform: scale(1.2);
}