* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
  margin-left: 0px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: rgba(24, 24, 24, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}